body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  background-color: hsl(240, 78%, 98%);
  max-width: 100%;
  overflow-x: hidden;
  text-align: center;
  align-items: center;
  background-image: url('../images/bg-top.svg'), url('../images/bg-bottom.svg');
  background-repeat: no-repeat;
  background-position: top right, bottom left;
  background-position-y: 0px, 650px;
}

.header {
  margin-top: 100px;
}

/*
===============================
  Switch
===============================
*/

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(253, 20%, 49%);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(255, 255, 255);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.slider:hover {
  background-color: hsl(234, 14%, 74%);
}

.switch-block {
  display: flex;
  color: hsl(232, 13%, 33%);
  margin-top: 40px;
  justify-content: center;
  align-items: center;
}

.annually-label {
  margin-top: 10px;
  margin-right: 30px;
  color: hsl(234, 14%, 74%);
}

.monthly-label {
  margin-top: 10px;
  margin-left: 30px;
  color: hsl(234, 14%, 74%);
}

/*
===========================================
  Card Properties
========================================
*/

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col {
  text-align: center;
  margin-top: 100px;
}

.col hr {
  width: 80%;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.col input {
  height: 40px;
  width: 80%;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 900;
  border: none;
  margin-top: 20px;
}

.price {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.amount {
  font-size: 60px;
}

.dollar {
  font-size: 35px;
  margin-top: 17px;
  margin-right: 5px;
}

.row .basic, .row .master {
  color: hsl(232, 13%, 33%);
  background-color: white;
  height: 455px;
  width: 18%;
}

.row .basic {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.row .master {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.row .professional {
  background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: white;
  height: 480px;
  width: 20%;
  border-radius: 10px;
  margin-top: 82px;
  padding-top: 18px;
}

.professional input {
  background-color: white;
  color: hsl(233, 13%, 49%);
}

.professional input:hover {
  color: white;
  background-color: hsl(237, 63%, 64%);
  border: 1px solid white;
}

.basic input, .master input {
  background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: white;
}

.basic input:hover, .master input:hover {
  color: hsl(237, 63%, 64%);
  background: white;
  border: 1px solid hsl(237, 63%, 64%);
}

/*
  ======================================
    Screen properties
  ======================================
*/

@media (max-width: 1440px) {
  body {
    margin-top: 100px;
    background-image: url('../images/bg-top.svg');
    background-position: top right;
    background-repeat: no-repeat;
  }
  .row {
    max-width: 90%;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin-bottom: 50px;
  }
  .col .amount {
    font-size: 55px;
  }
  .col {
    flex: 1;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .col .amount {
    font-size: 50px;
  }
  .col .dollar {
    font-size: 25px;
    margin-top: 17px;
  }
}

@media (max-width: 425px) {
  body {
    margin-top: 100px;
    background-image: url('../images/bg-top.svg');
    background-position: top right;
    background-repeat: no-repeat;
    background-position-x: 200px;
  }
  .row {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-left: 25px;
    margin-bottom: 100px;
  }
  .row .basic, .row .professional, .row .master {
    width: 80%;
    flex: 1;
    border-radius: 10px;
    margin-bottom: -50px;
  }
  .col input {
    margin-bottom: 20px;
  }
}

@media (max-width: 320px) {
  body {
    background-position-x: 150px;
  }
  .col .amount {
    font-size: 45px;
  }
  .col .dollar {
    font-size: 25px;
    margin-top: 15px;
  }
  .col .input {
    height: 35px;
  }
}